* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./Assets/Img/shipair.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-transform: uppercase;
}

nav {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 80px;
    padding: 5px;
}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: rgba(0, 0, 0, 0.7);
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .bi {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .bi {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    nav-link ul {
        padding: 30px;
    }
}

/* ---------------articulos--------------- */

.articulos {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;

}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.option-art {
    flex-basis: 30%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.option-art img {
    width: 100%;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.option-art:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/*--------------- Servicios ---------------*/

.servicios {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.option-serv {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.option-serv img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(0, 0, 0, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.sub-headerps {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./Assets/Img/shipair.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}


/*--------------- Nosotros ---------------*/

.nosotros {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.equipo {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.nosotros img {
    width: 100%;
    border-radius: 10px;
}

.nosotros p {
    padding: 0;
}

.nosotros h3 {
    margin-top: 1;
    margin-bottom: 15px;
    text-align: left;
}

/*--------------- Contactos ---------------*/

.contacto {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.contactos {
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-inline: 10px;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.contactos img {
    height: 100px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.contactos p {
    padding: 0;
}

.contactos h3 {
    margin-top: 15px;
    text-align: left;
}

.contactos .fa {
    color: #f44336;
}

.sub-headerct {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./Assets/Img/contactus.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

@media(max-width: 700px) {
    .contactos img {
        margin-left: 0px;
        margin-right: 15px;

    }
}

/* call to action */

.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./Assets/Img/contactus.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px) {
    .cta h1 {
        font-size: 24px;
    }
}

/* ------------footer------------ */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o {
    color: #f44336;
}

/*-------------- pagina nosotros------------- */

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./Assets/Img/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 100px;
}

.sobre-nosotros {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-us {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-us img {
    width: 100%;
}

.about-us h1 {
    padding-top: 0;
}

.about-us p {
    padding: 15px 0 25px;
}

.red-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover {
    color: #fff;
}

/* ------------pagina contacto------------- */

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
}