@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 2.8rem;
  font-size: 1.7rem;
  color: #333;
  border: 0.2rem solid #333;
  background: #fff;
  cursor: pointer;
  border-radius: 0.5rem;
}
.btn:hover {
  background: #ff5733;
  color: #fff;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 9%;
}
.header .logo {
  font-size: 2.2rem;
  color: #333;
  font-weight: bolder;
  margin-right: auto;
}
.header .navbar ul {
  list-style: none;
}
.header .navbar ul li {
  position: relative;
  float: left;
}
.header .navbar ul li:hover ul {
  display: block;
}
.header .navbar ul li:hover {
  display: block;
}
.header .navbar ul li a {
  font-size: 1.7rem;
  color: #666;
  padding: 2rem;
  display: block;
}
.header .navbar ul li a:hover {
  background: #eee;
}
.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 20rem;
  background: #fff;
  display: none;
}
.header .navbar ul li ul li {
  width: 100%;
}
.header .icons div {
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
  margin-left: 2rem;
}
.header .icons div:hover {
  color: #ff5733;
}

#menu-btn {
  display: none;
}

@keyframes fadeIn {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
}
.home {
  padding: 0;
  position: relative;
}
.home .slide {
  display: flex;
  min-height: 60vh;
  padding: 2rem 7%;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  align-items: center;
  display: none;
}
.home .slide.active {
  display: flex;
}
.home .slide .content span {
  color: #333;
  display: block;
  font-size: 2rem;
  animation: faeIN 0.4s linear 0.2s backwards;
}
.home .slide .content h3 {
  color: #333;
  text-transform: uppercase;
  padding: 1rem 0;
  font-size: 6rem;
  animation: fadeIn 0.4s linear 0.4s backwards;
}
.home .slide .content .btn {
  animation: fadeIn 0.4s linear 0.6s backwards;
}
.home #next-slide,
.home #prev-slide {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 6rem;
  width: 6rem;
  line-height: 5.5rem;
  font-size: 4rem;
  color: #333;
  border: 0.2rem solid #333;
  background: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}
.home #next-slide:hover,
.home #prev-slide:hover {
  background: #333;
  color: #fff;
}
.home #prev-slide {
  right: 10rem;
}

.banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}
.banner .box {
  position: relative;
  height: 30rem;
  overflow: hidden;
  border-radius: 0.5rem;
}
.banner .box:hover img {
  transform: scale(1.1);
}
.banner .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner .box .content {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}
.banner .box .content span {
  font-size: 2rem;
  color: #333;
}
.banner .box .content h3 {
  font-size: 1.5rem;
  color: #333;
  padding-top: 1rem;
}
.banner .box .content .btn {
  padding: 0.6rem 2rem;
  font-size: 1.5rem;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #333;
  padding: 1rem 0;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}
.footer .box-container .box a:hover {
  color: #ff5733;
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}
.footer .box-container .box a i {
  color: #ff5733;
  padding-right: 5rem;
}
.footer .credit {
  text-align: center;
  padding: 1rem;
  padding-top: 2.5rem;
  margin-top: 2.5rem;
  font-size: 2rem;
  color: #666;
  border-top: 0.2rem solid #333;
}
.footer .credit span {
  color: #ff5733;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 0 2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header {
    padding: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
  }
  .header .navbar ul li {
    width: 100%;
  }
  .header .navbar ul li ul {
    position: relative;
    width: 100%;
  }
  .header .navbar ul li ul li a {
    padding-left: 4rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
